@media (max-width: 480px){
	.container{
		width: 400px;
		height: auto;
	}
	.navigation{
		width: 350px;
		height: 170px;
		margin-left:20px;
		margin-top: 10px;
	}
	.nav{
		width: 140px;
		height: 35px;
		margin-top: 5px; 
		
	}
}

@media (max-width: 720px){
	.container{
		width: 680px;
		height: auto;
	}
	.navigation{
		width: 620px;
		height: 170px;
		margin-left:20px;
		margin-top: 10px;
	}
	.nav{
		width: 140px;
		height: 35px;
		margin-top: 5px; 
		
	}
}